# Python 3.13.13 ou plus récent

# Imports nécessaires :
# flask
from flask import Flask, request, jsonify
# numpy
import numpy as np

# module assets (matrices.py)
from matrices import (f_add_matrices, f_multiply_matrices,
                      f_transpose_matrices, f_determinant_matrices,
                      f_inverse_matrices)